

{% extends "employee-base.html" %}
{% block title %}Update Course{% endblock %}
{% block content %}
<div class="container-sm">
  <div class="form-container">
    <h1 class="mb-4">Update Course</h1>
    <form method="post" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
        {{ form.title }}
      </div>
      <div class="mb-3">
        <label for="{{ form.cover.id_for_label }}" class="form-label">{{ form.cover.label }}</label>
        {{ form.cover }}
      </div>
      <div class="mb-3">
        <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
        {{ form.description }}
      </div>
      <div class="mb-3">
        <label for="{{ form.price.id_for_label }}" class="form-label">{{ form.price.label }}</label>
        {{ form.price }}
      </div>
      <div class="mb-3">
        <label for="{{ form.category.id_for_label }}" class="form-label">{{ form.category.label }}</label>
        {{ form.category }}
      </div>
      <div class="mb-3">
        <label for="{{ form.tags.id_for_label }}" class="form-label">{{ form.tags.label }}</label>
        {{ form.tags }}
      </div>
      <div class="mb-3">
        <label for="{{ form.instructor.id_for_label }}" class="form-label">{{ form.instructor.label }}</label>
        {{ form.instructor }}
      </div>
        <button type="submit" class="button-link">Confirm</button>
        <a href="{% url 'employee_course' %}">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}