{% extends "employee-base.html" %}
{% block title %}Student Details{% endblock %}
{% block content %}
<div class="container-md">
    <div class="form-container">
        <h1 style="font-weight: normal;">Student Details</h1>
        <div class="form-container-m">
            <h2 >Personal Information</h2>
            <p ><strong>Name:</strong> {{ student.name }}</p>
            <p ><strong>Email:</strong> {{ student.email }}</p>
            <p ><strong>Contact:</strong> {{ student.contact|default:"Not provided" }}</p>
            <p ><strong>Address:</strong> {{ student.address|default:"Not provided" }}</p>
            <p ><strong>Joined:</strong> {{ student.created|date:"F d, Y" }}</p>
        </div>
    </div>
</div>
{% endblock %}