{% extends "instructor-base.html" %} 
{% block content %}
<div class="container-md">
        <div class="form-container">
            <h2>Reject Submission</h2>
            {% if submission %}
                <form method="POST" class="form-container-m">
                    {% csrf_token %}
                    <p>Do you want to reject the submission "{{ submission.description }}" for course "{{ submission.course.title }}" by {{ submission.student.name }}?</p>
                    <button type="submit" class="button-link">Confirm</button>
                    <a href="{% url 'instructor_submission_list' %}">Cancel</a>
                </form>
            {% else %}
                <p class="text-danger">Submission not found.</p>
                <a href="{% url 'instructor_submission_list' %}" class="btn btn-secondary btn-sm">Back to Submissions</a>
            {% endif %}
        </div>
</div>
{% endblock content %}
